{{ form_start(form, {'attr': {'id': 'contactForm'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.message) }}
    <div class="modal-footer">
        {% if app.request.pathInfo == '/cars' %}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        {% endif %}
        <button type="submit" class="btn btn-dark  m-3">Envoyer</button>
    </div>
{{ form_end(form) }}
