<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Jérémy Sananikone">
    <meta name="description" content="Garage automobile, proposant des services de réparation et d'entretien, et la vente de véhicules d'occasion.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>{% block title %}Garage Vincent Parrot{% endblock %}</title>
    <link rel="icon" href="{{ asset('media/logo4.png') }}" type="image/png">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-Lux.min.css') }}">
    {% endblock %}

    <script defer src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    {% block javascripts %}{% endblock %}

</head>

<body>
    <header>
        {{ include('nav.html.twig') }}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    {{ render(controller('App\\Controller\\FooterController::index')) }}
</body>
</html>
