{% extends 'base.html.twig' %}

{% block title %}Cars index{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('carsList') }}
    {{ encore_entry_script_tags('formModal') }}
{% endblock %}

{% block body %}
    <h1 class="text-bg-primary">Liste des véhicules à vendre</h1>
    {% if app.user is not null and app.user.roles|filter(role => role in ['ROLE_ADMIN', 'ROLE_USER'])|length > 0 %}
        <a class="btn btn-dark m-3" href="{{ path('app_cars_new') }}">Ajouter un véhicule</a>
    {% endif %}
    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Filtrer</button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Critères de sélection</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body form-group">
            <form id="filters-form">
                <div class="mileage">
                    <div class="mileage-label">
                        <label class="form-label">Kilométrage</label>
                    </div>
                    <div class="input-group">
                        <input name="mileage-min" class="form-control" id="mileage-min" type="number" step="500" value="{{ MinMaxValues['minMileage'] }}" min="{{ MinMaxValues['minMileage'] }}">
                        <input name="mileage-max" class="form-control" id="mileage-max" type="number" step="500" value="{{ MinMaxValues['maxMileage'] }}" max="{{ MinMaxValues['maxMileage'] }}">
                    </div>
                </div>
                <div class="price">
                    <div class="price-label">
                        <label class="form-label">Echelle de prix</label>
                    </div>
                    <div class="input-group">
                        <input name="price-min" class="form-control" id="price-min" type="number" step="500" value="{{ MinMaxValues['minPrice'] }}" min="{{ MinMaxValues['minPrice'] }}">
                        <input name="price-max" class="form-control" id="price-max" type="number" step="500" value="{{ MinMaxValues['maxPrice'] }}" max="{{ MinMaxValues['maxPrice'] }}">
                    </div>
                </div>
                <div class="year">
                    <div class="year-label">
                        <label class="form-label">Année</label>
                    </div>
                    <div class="input-group">
                        <input name="year-min" class="form-control" id="year-min" type="number" value="{{ MinMaxValues['minYear'] }}" min="{{ MinMaxValues['minYear'] }}">
                        <input name="year-max" class="form-control" id="year-max" type="number" value="{{ MinMaxValues['maxYear'] }}" max="{{ MinMaxValues['maxYear'] }}">
                    </div>
                </div>
{#                <div>#}
{#                    <button id="filters-btn-reset" class="btn btn-dark">Réinitialiser</button>#}
{#                </div>#}
            </form>
        </div>
    </div>

    <div id="cars-list-content" class="h-100">
        {% include 'cars/cars_list_item.html.twig' %}
    </div>
{% endblock %}
