{% extends 'base.html.twig' %}

{% block javascripts %}
    <script defer src="{{ asset('js/NotificationToast.js') }}"></script>
    <script defer src="{{ asset('js/Modal.js') }}"></script>
    <script defer src="{{ asset('js/TriggerFormBtn.js') }}"></script>
    <script defer src="{{ asset('js/FilterInputs.js') }}"></script>
    <script defer src="{{ asset('js/carsPage.js') }}"></script>
{% endblock %}

{% block title %}Voitures d'occasion{% endblock %}

{% block main %}

    <h1 class="m-5 text-center px-1">Nos véhicules d'occasion</h1>

    {# Filtres #}
    <div class="mx-auto">
        {% include 'cars/filters.html.twig' %}
    </div>

    {# Pagination #}
    {% include 'cars/pagination.html.twig' %}

    {# Liste des voitures #}
    <div id="cars-list-container">
        {% include 'cars/cars_list_item.html.twig' %}
    </div>

    {# Modale contenant le formulaire #}
    {% include 'cars/form_modal.html.twig' %}

    {# Notification #}
    {% include 'notifications/toast.html.twig' %}



{% endblock %}
