{% extends 'base.html.twig' %}

{% block javascripts %}
    <script defer src="{{ asset('js/NotificationToast.js') }}"></script>
    <script defer src="{{ asset('js/Modal.js') }}"></script>
    <script defer src="{{ asset('js/TriggerFormBtn.js') }}"></script>
    <script defer src="{{ asset('js/FilterInputs.js') }}"></script>
    <script defer src="{{ asset('js/carsPage.js') }}"></script>
{% endblock %}

{% block title %}Voitures d'occasion{% endblock %}

{% block main %}

    <h1 class="m-5 text-center px-1">Nos véhicules d'occasion</h1>

    {% if cars is not empty %}

        {# Filtres #}
        <div class="mx-auto">
            {% include 'cars/form_filters.html.twig' %}
        </div>

        {# Pagination #}
        {% include 'cars/pagination.html.twig' %}

        {# Liste des voitures #}
        <div id="cars-list-container">
            {% include 'cars/cars_list_items.html.twig' %}
        </div>

        {# Modale contenant le formulaire #}
        {% include 'cars/modal.html.twig' %}

        {# Notification #}
        {% include 'notifications/toast.html.twig' %}

    {% else %}
        <div class='alert alert-info'><p class='text-info text-center'>Aucun véhicule en vente</p></div>
    {% endif %}

{% endblock %}
