{% extends 'base.html.twig' %}

{% block title %} Voitures {% endblock %}

{% block main %}
    <h1 class="text-bg-primary">Ajouter un véhicule</h1>
    <div class="form w-25 bg-dark-subtle">
        {{ form_start(form, {'attr': {'id': 'contactForm'}}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.message) }}
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
        {{ form_end(form) }}
        <a class="btn btn-dark w-100 mt-3" href="{{ path('app_cars_index') }}">Retour</a>
    </div>
{% endblock %}
